{% extends "layouts/minimal.twig" %}

{% block body %}

    <main class="error-404">
        <div class="error-404__content">
            <div class="flow flow--tight">
                <h1>404.</h1>
                <p>We couldn't find that page.</p>
                <a class="btn btn--brand | gap-top-6" href="/">Go to our homepage</a>
            </div>
        </div>
        <div class="error-404__image">
            <img src="/wp-content/uploads/2020/05/1904-Fast-Shield_010.jpg" alt="">
        </div>
    </main>

{% endblock %}