{% extends "layouts/default.twig" %}

{% block body %}

    <section class="blocks news container container--sm flow flow--loose">

        <article class="post post--single flow">
            {{ content }}
        </article>
        
    </section>

{% endblock %}
