:root {
	--block-grid-columns: var(--size-4) 1fr auto 1fr var(--size-4);

	@media (min-width: 72em) {
		--block-grid-columns: 1fr 1fr 72ch 1fr 1fr;
	}
}

.blocks {
	display: grid;
	grid-template-columns: var(--block-grid-columns);
}

.blocks > * {
	grid-column: 3;
}

.blocks > .block-align-full,
.blocks > .alignfull {
	grid-column: 1 / 6;
}

.blocks > * + * {
	--flow-space: var(--size-8);
	margin-top: var(--flow-space);
}

.blocks > h1 + p,
.blocks > h2 + p,
.blocks > h3 + p,
.blocks > h4 + p,
.blocks > h5 + p,
.blocks > h6 + p {
	--flow-space: var(--size-3);
}

.blocks > p + p,
.blocks > p + ul,
.blocks > ul + p,
.blocks > ul + ul,
.blocks > p + ol,
.blocks > ol + p,
.blocks > ol + ol {
	--flow-space: var(--size-4);
}

@media (min-width: 72em) {
	.blocks > .block-align-wide,
	.blocks > .alignwide {
		grid-column: 2 / 5;
	}
}
