.cluster {
    --cluster-space: var(--size-2);
    overflow: hidden;
}

.cluster > * {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: calc(var(--cluster-space) / 2 * -1);
}

.cluster--center > *,
.cluster--centre > * {
    justify-content: center;
}

.cluster > * > * {
    margin: calc(var(--cluster-space) / 2);
}
